@import "./breakpoints.scss";
@import "./variables.scss";


.title-list {
  text-align: center;
  margin: 24px 0;
  @include sm {
    margin: 40px 50px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 16px;

  @include xl {
    padding: 0 20px 120px;
  }
}

.manage-buttons1 {
  padding: 10px;
  margin: 50px;
  align-items: center;
}
.manage-buttons2 {
  padding: 10px;
  margin: 50px;
  align-items: center;
}
.manage-buttons2 {
  background-color: red;
}

